
.price__article {
  display: none;
}
.price-slide {
  position: relative;
  border: #eaeaea 1px solid;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 6px;
  height: 200px;
  width: 220px;
  padding: 16px;
}
.price-text {
  margin-top: 20px;

  position: relative;
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}
.price-text:nth-child(1) {
  flex-grow: 1;
}
.price-text:nth-child(2) {
  flex-grow: 1;
}

.price-slide .price-text:nth-child(1)::before {
  position: absolute;
  height: 16px;
  left: 0px;
  top: -16px;
  content: 'Ремонтные услуги';
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  mix-blend-mode: normal;
  opacity: 0.72;
}

.price-slide .price-text:nth-child(2)::before {
  position: absolute;
  height: 16px;
  left: 0px;
  top: -16px;
  content: 'Цена';
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  mix-blend-mode: normal;
  opacity: 0.72;
}

.price-slide .price-text:nth-child(3)::before {
  position: absolute;
  height: 16px;
  left: 0px;
  top: -16px;
  content: 'Срок';
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  mix-blend-mode: normal;
  opacity: 0.72;
}
.button__price {
  bottom: 16px;
  align-self: flex-end;
  border-radius: 16px;
  background: #ff3e79 url(../img/svg/dropdown.svg) no-repeat 90% 50%;
  border: none;
  display: flex;
  width: 100px;
  line-height: 30px;
  color: #ffffff;
  height: 32px;
  padding: 12px;
  transition: 0.5s ease-in;
  align-items: center;
}
.button__price:hover {
  background-color: #ff86aa;
}
.button__price:active {
  opacity: 0.8;
}
.price__pagination {
  position: relative;
  top: 0px;
}
.price__slider {
  height: 210px;
}
@media screen and (min-width: 768px) {
  .price-text {
    margin: 0;
  }

  .price-slide .price-text:nth-child(1)::before {
    display: none;
  }
  .price-slide .price-text:nth-child(2)::before {
    display: none;
  }
  .price-slide .price-text:nth-child(3)::before {
    display: none;
  }
  .price__article {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    margin-left: 33px;
    margin-right: 33px;
  }
  .price__article p {
    color: #7e7e82;
    display: flex;
  }
  .price__slider {
    display: grid;
    gap: 0;
    height: auto;
  }
  .price-slide {
    grid-template-columns: (4fr 1fr 1fr 1fr);
    display: grid;
    width: 100%;
    height: 80px;
    align-items: center;
    align-content: center;
  }
  .button__price {
    position: static;
  }

}
@media screen and (min-width: 1120px) {
  
}
@media screen and (min-width: 1440px) {
  .price-text {
    font-size: 18px;
  }

}