.page-wrapper {
  background-color: $background-color_2;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none !important;
}
* {
  -webkit-tap-highlight-color: #ffffff00;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
button {
  background-color: $background-color_1;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}

label {
  cursor: pointer;
}

body {
  

  font-size: 16px;
  padding: 0;
  background-color: $background-color_2;
  font-family: $TTLakes;
}