
.services__title {
  display: flex;
  font-family: $TTLakes;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $color_2;
  padding: 16px;
}
.services__header {
  width: 100%;
  background: linear-gradient(270deg, #ffffff 0%, #f8f8f8 98.61%);
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: $border-color_1;
}
.brands__pagination {
  position: relative;
  top: 4px;
}

@media screen and (min-width: 768px) {
  .section__slider {
 
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
  }
  .brands__slider {
    max-height: 80px
  }

}
@media screen and (min-width: 1120px) {

}
@media screen and (min-width: 1440px) {

}