$color_1: white;
$color_2: #7e7e82;
$color_3: black;
$color_4: rgba(126, 126, 130, 1);
$color_5: rgba(27, 28, 33, 1);
$TTLakes: 'TT Lakes';
$background-color_1: transparent;
$background-color_2: #f8f8f8;
$background-color_3: #ffffff;
$background-color_4: #ff3e79;
$background-color_5: #fff;
$background-color_6: rgba(221, 221, 221, 1);
$background-color_7: rgba(181, 182, 188, 1);
$border-color_1: #41f6d7;
